.md-header {
  background-color: white;
  color: black;
  border-bottom: 1px solid #0f0f0f;
}

.md-header__inner {
  max-height: 70px;
  height: 70px;
}

.md-header--shadow {
  box-shadow: none;
  transition: none;
}

.md-tabs {
  background-color: rgb(223, 225, 240);
  color: #5e63b6 !important;
}

.md-footer {
  background-color: #0f0f0f;
}

.md-typeset a {
  color: rgb(15, 15, 15);
  text-decoration: underline;
}

.md-typeset a:hover {
  color: rgb(15, 15, 15);
  text-decoration: none;
}

.md-typeset a {
  color: rgb(15, 15, 15);
  text-decoration: underline;
}

.md-typeset a:visited {
  color: rgb(15, 15, 15);
  text-decoration: none;
}

.md-typeset .md-button {
  color: black;
  background-color: #46c882;
  --bs-btn-bg: #46c882;
  --bs-btn-active-bg: #0F0F0F;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-size 0.15s ease-in-out !important;
  background-image: url(https://st.gallen-bodensee.ch/files/_OpenFrontend/_config/design_SGBT/img/btn-bg-black.svg);
  background-size: 0 100%;
  background-repeat: no-repeat;
}

.md-typeset .md-button:hover {
  background-color: #46c882;
  --bs-btn-bg: #46c882;
  background-size:100% 100%
}

.md-typeset a.md-button {
  color: black;
  background-color: #46c882;
  --bs-btn-bg: #46c882;
}

.md-typeset a.md-button {
  display:inline-flex;
  align-items:center;
  flex-wrap:nowrap;
  line-height:normal;
  border-radius:50px;
  padding:16px 40px 16px 40px;
  border:none
}

.md-button .md-button:focus-visible{
  outline:none;
  border:none;
  box-shadow:none
}