.md-header {
  background-color: white;
  color: black;
  border-bottom: 1px solid #0f0f0f;
}

.md-header__inner {
  max-height: 70px;
  height: 70px;
}

.md-header--shadow {
  box-shadow: none;
  transition: none;
}

.md-tabs {
  background-color: rgb(223, 225, 240);
  color: #5e63b6 !important;
}

.md-footer {
  background-color: #0f0f0f;
}

a {
  color: rgb(15, 15, 15);
  text-decoration: underline;
}